@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: poppins;
  src: url(./assets/fonts/poppins-regular.woff);
}
@font-face {
  font-family: poppinsLight;
  src: url(./assets/fonts/poppins-light.woff);
}
@font-face {
  font-family: poppinsBold;
  src: url(./assets/fonts/poppins-bold.woff);
}

* {
  font-family: poppinsLight;
}

.font-bold {
  font-family: poppinsBold;
}
